@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input-style {
  @apply bg-gray-100 dark:bg-slate-900 border-2 border-gray-300 dark:border-slate-700 rounded-xl focus:outline-none focus:border-sky-400 dark:focus:border-sky-400;
}

.form-container-style {
  @apply w-full max-w-sm h-fit flex flex-col justify-center items-center bg-white dark:bg-slate-800 px-4 py-8 sm:p-8 rounded-xl shadow-2xl;
}

.password-input {
  @apply form-input-style w-full pl-3 pr-12 py-2 overflow-hidden;
}


.sidebar-btn {
  @apply p-2 xl:px-4 flex justify-center xl:justify-start items-center font-bold hover:bg-gray-200/75 dark:hover:bg-slate-700 border-2 border-transparent rounded-xl;
}


.sidebar-btn-icon {
  @apply h-7 w-7 xl:h-6 xl:w-6 xl:mr-4;
}

.sidebar-text {
  @apply hidden xl:inline-block;
}

.sidebar-btn.active {
  @apply bg-green-100 border-2 border-green-300 text-green-500 dark:bg-transparent dark:text-red-400 dark:border-red-400 dark:bg-slate-700;
}

.box-container-style {
  @apply bg-white w-full h-full p-4 rounded-xl shadow-lg;
}

html {
  font-family: 'Nunito Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-bg {
  background-image: url('./assets/waves.svg');
  background-size: 105%, 80px;
  background-position: bottom, top left;
  background-repeat: no-repeat, repeat;
}

.text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.custom-button {
  border-radius: 8px; 
}